
package game.simulation;

import static java.lang.Integer.sum;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Random;
import java.util.Scanner;


/**
 *
 * @author sky
 */
public class GameSimulation {
    static int s = 0;


    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        while(true){

        int max=6;
        int min=1;
        int sum=0;
        Random random = new Random();
        int a = random.nextInt(max)%(max-min+1) + min;  //generate 1-6 random number
        int b = random.nextInt(max)%(max-min+1) + min;
        int c = random.nextInt(max)%(max-min+1) + min;
        int d = random.nextInt(max)%(max-min+1) + min;
        System.out.println("dice1:"+a);
        System.out.println("dice2:"+b);
        System.out.println("dice3:"+c);
        System.out.println("dice4:"+d);
       
        List<Integer> list = new ArrayList<Integer>(); //create a new arraylist
        list.add(a);
        list.add(b);
        list.add(c);
        list.add(d);
        
        Map<Integer, Integer> map = new HashMap<Integer, Integer>(); 
        //find the same number from four random number
        
        for(Integer k: list){
            if(map.containsKey(k)){
                map.put(k, map.get(k).intValue() + 1);
            }else{ 
                map.put(k, 1);
            }
        }
        ArrayList<Integer> newList = new ArrayList<Integer>(map.values());
        int x=Collections.max((map.values()));
        int y=0;
        if (x>1)
           y=x;
           else
           y=0; 
        System.out.println("your score:"+y);
        GameSimulation.s+=y;    //sum all of score
        System.out.println("Do you want to play again? yes/no");
        Scanner scanner=new Scanner(System.in);
        String m=scanner.nextLine();
        
        if (m.equals("no")){
        System.out.println("The total score is: "+s); 
        System.exit(0);
                      }  
        else{}    
    }
}
}
